<%
// Set page variables
var pageTitle = 'Example Page';
var currentPage = 'example';
%>

<div class="row">
    <div class="col-12">
        <div class="bg-light rounded p-4">
            <h3 class="mb-4">Example Content Page</h3>
            <p>This page demonstrates how to use the layout system. All pages automatically include:</p>
            <ul>
                <li>Sidebar navigation</li>
                <li>Top navbar with user menu</li>
                <li>Footer</li>
                <li>All stylesheets and scripts</li>
            </ul>
            <p>Just create your page content here and the layout will wrap it with the common HTML structure.</p>
        </div>
    </div>
</div>
